body{
    text-align:justify;
    font-size: 60px;
    font-family: Arial, sans-serif;
    background-color: rgb(209, 214, 215);
}
header{
    text-align: center;
    font-size: 60%;
    font-family: Arial, sans-serif;
    background-color: rgb(112, 200, 143);
}
.Introducción{
    text-align:justify;
    font-size: 40%;
}
.Parrafo{
    text-align: justify;
    font-size: 35%;
}
.Parrafo2{
    text-align: justify;
    font-size: 75%;
}
.Situación{
    text-align:justify;
    font-size: 40%;
}
.Tabla{
    width:175%;
    margin: 20px 0;
    font-family: Arial, sans-serif;
    background-color:#fdfdfd;
}
.ParrafoSituación{
    background-color: #fdfdfd;
    color: black;
    text-align: left;
    padding: 12px;
    width: 25%;
    font-size: 16px;    
}
.MapaTabla{
    padding: 12px;
    font-size: 15px;
}
table {
    width: 100%;
    border: none;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: Arial, sans-serif;
    background-color: #fdfdfd;
}
th {
    background-color: #3a6073;
    color: white;
    text-align: left;
    padding: 12px;
    width: 25%;
    font-size: 16px;
}

td {
    padding: 12px;
    border-bottom: 1px solid #ccc;
    font-size: 15px;
}

table tr:hover {
    background-color: #f3f6f8;
}

img {
    max-width: 180px;
    border: 2px solid #ccc;
    border-radius: 6px;
}
footer{
    text-align: center;
    font-size: 60%;
    font-family: Arial, sans-serif;
    background-color: rgb(112, 200, 143);   
}