body{
    text-align:justify;
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(209, 214, 215);
}
header{
    text-align: center;
    font-size: 60%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(112, 200, 143);
}
.Introducción{
    text-align:justify;
    font-size: 40%;
}
.ParrafoIntroducción{
    text-align: justify;
    font-size: 35%;
}
.Situación{
    text-align:justify;
    font-size: 40%;
}
.contenedorMapaParrafoSituación{
    display: flex;
    align-items:center
}
.MapaGhaelana{
    width: 350px;
    margin-right: 20px;
}
.ParrrafosSituación1{
    display: flex;
    align-items: center;
}
.ParrrafosSituación2{
    display: flex;
    align-items: center;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: Arial, sans-serif;
    background-color: #fdfdfd;
}

th {
    background-color: #3a6073;
    color: white;
    text-align: left;
    padding: 12px;
    width: 25%;
    font-size: 16px;
}

td {
    padding: 12px;
    border-bottom: 1px solid #ccc;
    font-size: 15px;
}

table tr:hover {
    background-color: #f3f6f8;
}

img {
    max-width: 180px;
    border: 2px solid #ccc;
    border-radius: 6px;
}
